<link rel="stylesheet" href="/assets/stylesheets/nav.css">
<nav class="navbar">

    <a href="../home.html">
        <div class="tabs">
            <h1> Home</h1>
        </div>
    </a>
    <a href="../players.html">
    <div class="tabs">
        <h1>Players</h1>
    </div>
    </a>
    <a href="../matches.html">
    <div class="tabs">
        <h1>Matches</h1>
    </div>
    </a>
</nav>