body{
    color:white;
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-around;
}
/* .header{
    display:flex;
    padding:10px;
    justify-content:space-around;
    background-color: rgb(6, 10, 71);

} */
.players-container{
    display:flex;
    padding:10px;
    justify-content:space-around;
}
a:link{
    text-decoration: none;

}