body{
   color:white;
   background-color:black;
}
.header{
    display: flex;
    justify-content: space-around;
}
/* .header{
    display:flex;
    padding:10px;
    background-color: rgb(99, 106, 207);

} */
a:link{
    text-decoration: none;

}
.players-container{
    flex-basis:100%;
    display:flex;
    padding:10px;
    flex-wrap:wrap;
    justify-content:space-around;
    flex-direction:column;
}
.search{
   display:flex; 
   margin:5px;
   padding:10px;
   border-width:3px;

}
.cards{
    border-width:3px;
    justify-content:space-between;
    color:white;
    display:flex;
    flex-direction:row;
    margin:5px;
    padding:10px;
    flex-grow:1;
    flex-basis:20%;
    background-color:indigo;    
}
.details{
    padding:5px;
    display:flex;
    flex-direction:column;
    margin:2px;

}
.image{
    display:flex;
    flex-direction:column;
    justify-content:center;
}