body{
    background-size:auto;
    background-attachment: fixed;
}
/* .header{
    display:flex;
    padding:10px;
    background-color: rgb(99, 106, 207);

} */
.players-container{
    flex-basis:100%;
    display:flex;
    padding:10px;
    flex-wrap:wrap;
    justify-content:space-around;
    flex-direction:column;
}
.cards{
    justify-content:space-between;
    color:white;
    display:flex;
    flex-direction:row;
    margin:5px;
    padding:10px;
    flex-grow:1;
    flex-basis:20%;
    background-color:rgb(39, 39, 129);    
}
.details{
    padding:5px;
    display:flex;
    flex-direction:column;
    margin:2px;

}
.image{
    display:flex;
    flex-direction:column;
    justify-content:center;
}