<!doctypehtml>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
    <title>home</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
    </header>
    <p>
        <center>
            <h1>WELCOME!<br>YOU ARE NOW LOGGED IN</h1>
            <br>

            <form action='/search' method="GET">
                <h3>Search Player: </h3>
                <input name= search type=text>
                <br>
                <br>
                <input type="submit" value="search">
            </form>
        </center>
    </p>
</body>

</html>