<!doctypehtml>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
    <title>home</title>
</head>

<body>
    <header class="header">
        <% include partials/nav.ejs %>
    </header>
    <p>
        <center><h1>WELCOME!<br>YOU ARE NOW LOGGED IN</h1></center>
        
    </p>
</body>

</html>