<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
    <title>HOME</title>
</head>

<body>
    <header class="header">
        <div class="tabs">
           <h2><a href="../pages/home.html">HOME</a></h2>
        </div>
        <div class="tabs">
           <h2><a href="../pages/players.html"></a>PLAYERS</h2>
        </div>
        <div class="tabs">
           <h2><a href="../pages/ranking.html"></a>RANKINGS</h2>
        </div>
    </header>

</body>

</html>