<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/stylesheets/home.css">
    <title>Login/SignUp</title>
</head>

<body>
    <!-- <header class="header">
        <% include partials/nav.ejs %>
    </header> -->
    <section>
        <center><h1>Welcome to Indian Cricket Records</h1></center>
        <div class="form-container">
            <div>
                <p>
                    <h1>Sign Up</h1>
                </p>
                <form action="/register" method="POST">
                    <h2>e-mail Id:</h2>
                    <input type="text" name="email" required>
                    <br>
                    <h2>Password:</h2>
                    <input type="password" name="password" required>
                    <br>
                    <br>
                    <input type="checkbox" name="agreement"  required>I Agree with the Terms and Conditions
                    <br>
                    <br>
                    <input type="submit" value="Register" formmethod="POST">
                    <br>

                </form>
            </div>
            <div>
                <p>
                    <h1>Sign In</h1>
                </p>
                <form action="/login" method="POST">
                    <h2>e-mail Id:</h2>
                    <input type="text" name="email" required>
                    <br>
                    <h2>Password:</h2>
                    <input type="password" name="password" required>
                    <br>
                    <br>
                    <input type="submit" value="Login" formmethod="POST">
                    <br>

                </form>
            </div>

        </div>
    </section>

</body>

</html>