body{
    background:teal;
}

.header{
    display:flex;
    padding:10px;
    justify-content:space-around;
    background-color: rgb(6, 10, 71);

}
.players-container{
    display:flex;
    padding:10px;
    justify-content:space-around;
    flex-direction:column;
}