<link rel="stylesheet" href="/assets/stylesheets/nav.css">
<nav class="navbar">

    <a href="../home">
        <div class="tabs">
            <h1> Home</h1>
        </div>
    </a>
    <a href="../players">
        <div class="tabs">
            <h1>Players</h1>
        </div>
    </a>
    <a href="../matches">
        <div class="tabs">
            <h1>Matches</h1>
        </div>
    </a>    
        <div class= "logout">
            <form action="/logout" method="GET">
                <input type="submit" value="Log Out" formmethod="GET">
            </form>
        </div>
</nav>