body{
    background:teal;
}

.header{
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    justify-content:space-around;
    background-color: rgb(6, 10, 71);

}
.tabs{
    flex-wrap:wrap;
    flex-grow:1;
    color:rgb(72, 160, 219);
    padding:5px;
    display:flex;
    justify-content:space-around;
    
}